# Server Configuration
PORT=5000
NODE_ENV=development
CLIENT_URL=http://localhost:3000

# Database
MONGODB_URI=mongodb://127.0.0.1:27017/servora

# Authentication
JWT_SECRET=super_secret_jwt_key_servora_production_2026_x89f
JWT_EXPIRES_IN=7d

# Redis & BullMQ
REDIS_URL=redis://127.0.0.1:6379

# File Uploads
MAX_FILE_SIZE_MB=5
UPLOAD_PATH=./uploads
